<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box {
      width: 300px;
      height: 200px;
      margin: 30px;
      text-align: center;
      line-height: 200px;
      border-radius: 20px;
      border: 1px solid;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- <div v-html="msg"></div> -->
    <!-- <div v-show="flge" class="box">我是v-show</div>
    <div v-if="flge" class="box">我是v-if</div> -->
    <!-- <p v-if="gender===1">性别：男</p>
    <p v-else>性别：女</p>
    <hr>
    <p v-if="score>=90">成绩A：电脑</p>
    <p v-else-if="score>=80">成绩B：周末旅游</p>
    <p v-else-if="score>=70">成绩C：零食礼包</p>
    <p v-else-if="score>=60">成绩D：放假一天</p>
    <p v-else>成绩E：惩罚不能玩手机</p> -->
    <!-- <button @click="count++">+</button>
    <span>{{count}}</span>
    <button @click="count--">-</button> -->
    <!-- <button @click="fn">切换显示隐藏</button>
    <h1 v-show="avtive">黑马程序员</h1> -->
    <!-- 
    <div class="box">
      小黑自动售货机
      <button @click="ckl(5)">可乐5圆</button>
      <button @click="ckl(10)">咖啡10圆</button>
    </div>
    <span>银行卡余额:{{sum}}</span> -->
    <!-- <img :src="ewm" alt=""> -->
    <!-- <h3>码农水果店</h3>
    <p v-for="(item,index) in list">{{item}}</p> -->

    账户：<input v-model="user" type="text"><br><br>
    密码：<input v-model="password" type="password"><br><br>
    <button @click="login">登录</button>
    <button @click="cz">重置</button>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          // flge: true
          // gender: 1,
          // score: 90
          // count: 1
          // avtive: false
          // sum: 20
          // ewm: './微信图片_20240319153155.jpg'
          // list: ['西瓜', '苹果', '梨子']
          user: '',
          password: ''
        }
      },
      methods: {
        // fn() {
        //   this.avtive = !this.avtive
        // }
        // ckl(a) {
        //   if (this.sum - a < 0) {
        //     alert('您的余额不足请充值')
        //   } else {
        //     this.sum -= a
        //   }

        // },
        login() {
          console.log(this.user, this.password);
        },
        cz() {
          this.user = ''
          this.password = ''
        }

      },
    })
  </script>

</body>

</html>