<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <div id="app">
    翻译语言
    <select v-model="obj.lang">
      <option value="italy">意大利</option>
      <option value="english">英语</option>
      <option value="german">德语</option>

    </select>
    <textarea v-model="obj.word"></textarea>
    <div>{{resule}}</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 接口地址：https://applet-base-api-t.itheima.net/api/translate
    const app = new Vue({
      el: '#app',
      data() {
        return {
          // word: ''
          obj: {
            word: '小黑',
            lang: 'italy'
          },
          resule: '',
          // tiemr: null
        }
      },
      watch: {
        // 该方法会在数据发生变化时调用执行
        // newValue新值, oldValue老值（一般不用）
        // word(newValue, oldValue) {
        //   console.log(newValue, oldValue);
        // }
        // 防抖：延时执行 先等会 一段事件内没触发在执行

        // 'obj.word'(newValue, oldValue) {
        //   console.log(newValue, oldValue);
        //   clearTimeout(this.tiemr)
        //   this.tiemr = setTimeout(async () => {
        //     const res = await axios({
        //       url: 'https://applet-base-api-t.itheima.net/api/translate',
        //       params: {
        //         words: newValue
        //       }
        //     })
        //     this.resule = res.data.data
        //     console.log(res.data.data);
        //   }, 300);
        // }
        obj: {
          deep: true,// 深度监视 会对对象里面的所以属性进行监视
          immediate: true, // 立刻执行 一进入页面就是立即执行一次
          handler(newValue) {
            clearTimeout(this.tiemr)
            this.tiemr = setTimeout(async () => {
              const res = await axios({
                url: 'https://applet-base-api-t.itheima.net/api/translate',
                // params: {
                //   words: newValue.word,
                //   lang: newValue.lang
                // }
                params: newValue
              })
              this.resule = res.data.data
              console.log(res.data.data);
            }, 300);
          }
        }
      }
    })
  </script>

</body>

</html>